body {
  background-color: lightblue;
}

input {
	font-family: monospace;
	font-size: 16px;
  text-align: center;
  height: auto;
  width: 100%;
  border: none;
  background-color: lightblue;
  
}

li {
	font-family: monospace;
	font-size: 16px;
}

ul {
  list-style: none;
  display: inline-block;
  text-align: left;
  list-style-position: inside:
}

ol {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

h2 {
	font-family: monospace;
}

.title {
  font-size: 40px;
  font-family: monospace;
}

.item-input {
}

.remove-button {
  background-color: tomato;
  font-size: 10px;
  border: 2px;
  border-radius: 6px;
}

.add-button {
  background-color: seagreen;
  font-size: 16px;
  border: 2px;
  border-radius: 8px;
}

h1 {
  font-family: monospace;
}

h3 {
  font-family: monospace;
}

div {
  text-align: center;
}

.recipe-display {
  text-shadow: 1px 1px cadetblue;
}

.list-item {
}
