body {
  background-color: lightblue;
}

input {
	font-family: monospace;
	font-size: 14px;
  text-align: center;
  height: auto;
  width: 100%;
  border: none;
  background-color: lightblue;
  
}

li {
	font-family: monospace;
	font-size: 14px;
}

ul {
	list-style: none;
}

h2 {
	font-family: monospace;
}

.title {
  font-size: 50px;
  font-family: monospace;
}

.item-input {
}

.remove-btn {
}

h3 {
  font-family: monospace;
}

div {
  text-align: center;
}
