body {
  background-color: lightblue;
}

input {
	font-family: monospace;
	font-size: 14px;
  height: 50px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: lightblue;
}

li {
	font-family: monospace;
	font-size: 14px;
	text-align: center;
}

ul {
	list-style: none;
}

h3 {
	font-family: monospace;
	text-align: center;
}
